#content{
	background-color:#eee;
	margin:0 auto;
	width:800px;
	padding:10px;
}
#footer{
	background-color:#ccc;
	margin:0 auto;
	width:800px;
	padding:10px;
}
#attend_table{
	margin:0 auto;
	width:90%;
}
th, td{
	height:40px;
	text-align:center;
	font-size:large;
	width:90px;
}
th{
	background-color: #ccff33;

}
td{
	background-color: #ccffff;
	font-weight:bold;

}

